<div id="heading", class="page-header text-center text-primary">
  <h1>News Feed</h1>
</div>
<div class="text-center">
  <%= link_to new_status_path, id: "newstatus", class: "btn btn-info btn-lg hvr-float-shadow" do %>
  <i class="glyphicon glyphicon-envelope">     Post Status</i>
      <% end %>
</div>
<% @statuses.each do |status| %>
<div class="status">
  <div class="row">
  <div class="col-xs-7 col-md-1">
    <%= link_to "#{image_tag(status.user.gravatar_url, :alt =>  "avatar")}".html_safe, profile_path(status.user.profile_name), class: "hvr-wobble-vertical" %>
  </div>
      <div class="col-xs-7 col-md-7">
      <strong><%= link_to status.user.full_name, profile_path(status.user.profile_name), class: "hvr-float" %></strong>
      <p> <%= status.content %></p>
      <div class="meta">
        <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
        <% if status.user_id == current_user.id %>
            <span class="admin">
             |  <%= link_to "Edit", edit_status_path(status) %>  |
              <%= link_to "Delete", status, method: :delete, data: {confirm: "Are you sure to delete this status?" } %>
            </span>
        <% end %>
        </div>
    </div>
  </div>
</div>
<% end %>