<div class="row" , id="signin" , xmlns="http://www.w3.org/1999/html">
    <div class="col-xs-6 col-md-4">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "well", id: "wellmargin"}) do |f| %>

          <fieldset>
            <legend>Log in</legend>
            <%= f.input :email, :input_html => {:style => 'width: auto'} %>
            <%= f.input :password, :input_html => {:style => 'width: auto'} %>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.input :remember_me, as: :boolean %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.button :submit, "Log in", class: 'btn-info hvr-glow' %>
          </div>
          </fieldset>
          <div style="margin-top: 10px">
            <%= link_to "Forgot your password?", new_user_password_path %>
          </div>
        <% end %>
    </div>
  <div class="col-xs-6 col-md-8">
    <%= image_tag("yoomolvi.png", width: '400', height: '600', alt: 'Yoo Molvi', class: "hvr-buzz-out") %>
  </div>
</div>